.diente {
    position: static;
    width: 0px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
}

.cuadro {
    border: 1px solid #7F7F7F;
    position: relative;
    width: 13px;
    height: 13px;
    left: 48px;
    border-radius: 80px 80px 0px 15px;
}

.cuadro:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.izquierdo {
    top: -4px !important;
    left: 37px !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.top {
    width: 15px;
    left: 47px;
}

.debajo {
    width: 15px;
    top: -8px !important;
    left: 47px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.derecha {
    top: -30px !important;
    left: 58px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.centro {
    background: #F3F3F3;
    border: 1px solid #7F7F7F;
    width: 15px;
    height: 13px;
    top: -43px;
    left: 47px;
    position: relative;
}
.centro-hover {
    border: 1px solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}


#tlr {
        margin-left: -90px;
}
#tr {
    
}
#tll {
        margin-left: 90px;
}
#tl {
    
}

#blr {
        margin-left: -90px;
}
#br {
   
}
#bl {
        
}
#bll {
     margin-left: 90px;
}
.click-red {
    background-color: red !important;
}

.click-white {
    background-color: white !important;
    background-image: none;
}
.click-blue {
    background-color: blue;
}

.click-delete {
    /* Para navegadores que soportan RGBa mostramos el color sólido con un 50% de opacidad */
    background-color: rgba(0, 0, 0, 0.5);
    background-color:  #7F7F7F;
}

.click-fractura {
    background-image: url("img/fractura.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.click-blanco{
    background-image: none;
}

.click-sellante {
    background-image: url("img/se.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.click-endodoncia {
    background-image: url("img/ei.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.click-dienteenerupcion {
    background-image: url("img/eruccion.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

.click-obturacionr {
    background-image: url("img/relleno_recina01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.click-corona {
    background-color: #5bc0de;
}

.click-coronatemporal {
    background-color: #e2f103;
}

.click-ionomero {
    background-color: #f19203;
}

.kill {
    background-color: green;
}

.diente-leche {
    position: static;
    width: 0px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
}

.cuadro-leche {
    border: 1px solid #7F7F7F;
    position: relative;
    width: 13px;
    height: 13px;
    left: 45px;
    border-radius: 80px 80px 0px 15px;
}

.cuadro-leche:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.izquierdo-leche {
    top: -4px !important;
    left: 37px !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.top-leche {
    width: 15px;
    left: 47px;
}

.debajo-leche {
    width: 15px;
    top: -8px !important;
    left: 47px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.derecha-leche {
    top: -30px !important;
    left: 58px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.centro-leche {
    background: #F3F3F3;
    border: 1px solid #7F7F7F;
    width: 15px;
    height: 13px;
    top: -43px;
    left: 47px;
    position: relative;
}

.centro-leche:hover {
    /*background-color:  #7F7F7F;*/
    /*border: 1px solid rgba(117, 198, 243, 0.4);*/
    /*background-color: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}
