body {
	padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
}

form {
	margin-bottom: 0;	
}

.help-block {
	font-size: 11px;
	color: #666;	
}

.mr-10 {
	margin-right: 10px;	
}

.box {
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px; 
	border: 1px solid #d5d5d5;
	box-shadow: 0 1px 0 rgba(0,0,0,0.11);
	margin-bottom: 3.0%;
	margin-top: 10px;
}

.modal-body {
	/* white-space: pre-wrap!important; */	
}

.box:before, .box:after {
	content: "";
	display: table;
}
	
.box:after {
	clear: both;
}
	
.box .header {
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px; 
	position: relative;
	background: url(../img/nav_bg.png) repeat;
	box-shadow: inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.02);
}

.box .header h4 {
	position: relative;
	padding: 9px 0;
	padding-top: 8px;
	padding-left: 10px;
	border-bottom: 1px solid #c2c2c2;
	margin: 0;
	font-size: 13px;
	color: #444;
	line-height: 20px;
}
	
.box .content {
	padding: 0;
	margin: 0;
}

.content.pad {
	padding: 20px;	
}

.box .content:before, .box .content:after {
	content: "";
	display: table;
}

.box .content:after {
	clear: both;
}

/* jquery.fullcalendar.js needed */

/* color picker */
.colorpicker, .bootstrap-timepicker {
	z-index: 9999!important;
}

.loadingDiv {
	background: url(../img/ajaxloader.gif);
	margin: 0 auto;	
	width: 16px;
	height: 16px;
	display: none;
}

/* will make modal-body scroll on mobile if you have too many fields*/
.modal {
	overflow: auto;	
}

.modal-body { 
   height: 60%;
}

.modal-body { 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }
 
 /* modal body screen sizes */
 @media (max-width: 640px) 
 {
	.modal-body { 
		max-height: 180px;
	}
 }
 
 @media (max-width: 600px) 
 {
	.modal-body { 
		max-height: 400px;
	}
 }
 
 @media (max-width: 480px) 
 {
	.modal-body { 
		max-height: 140px;
	}
 }
 
 @media (max-width: 360px) 
 {
	.modal-body { 
		max-height: 400px;
	}
 }
 
 @media (max-width: 320px) 
 {
	.modal-body { 
		max-height: 280px;
	}
 }

 #divfiltro {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #e5e5e5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    min-height: 300px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #dedede;
    width:220px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.patient {
    position: fixed;
    width: 180px;
    top: 76px;
}

.patient .img {
    text-align: center;
    margin-bottom: 4px;
    z-index: 999;
    width: 200px;
}



.patient .detail {
    position: relative;
    top: 6px;
    background-color: #e5e5e5;
    border-radius: 20px;
    padding: 20px;
    font-size: 90%;
    line-height: 22px;
}
.img-circle {
    border-radius: 50%;
}

   header {
    width: 100%;
    height: 90px;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -moz-border-radius:0px 55px;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

    .nav {
    left:50%;
    margin-left:-150px;
    top:50px;
    position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    border-radius:4px;
    width:300px;    
}
.dropdown-menu>li>a {
    color:#0a0a0a;
}
.dropdown ul.dropdown-menu {
    border-radius: 20px;
    padding: 8px;
    background-color: #e5e5e5;
    z-index: 1000;
    left: -140px;
    width: 200px;
}


.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


@media (max-width: 612px)
{

#inicio{
  height: 45px;
  width:  45px;
}

#procedimientos{
  height: 45px;
  width:  45px;
}

#procedimientos{
  height: 45px;
  width:  50px;
}

#anamnesis{
  height: 45px;
  width:  45px;
}

#diagramas{
  height: 45px;
  width:  45px;
}

#diagramas{
  height: 45px;
  width:  45px;
}

#evolucion{
  height: 45px;
  width:  45px;
}

#imagenes{
  height: 45px;
  width:  45px;
}

#pagos{
  height: 45px;
  width:  45px;
}

#conocimiento{
  height: 45px;
  width:  55px;
}

#citas{
  height: 45px;
  width:  45px;
}

#pacientes{
  height: 45px;
  width:  45px;
}

#asistentes{
  height: 45px;
  width:  45px;
}

#salir{
  height: 45px;
  width:  45px;
}

}
 
#txtValorTotalEfectivo,#txtValorTotalOtro,#txtValorTotalTarjetaCredito,#txtValorTotal,#txtValorTotalCheque,#txtPorcentajeProfesional,#txtPorcentajeProfesional{
    color: #FFF;
} 